<div class="columns is-centered">
    <div class="column">
        <h1 id="header">Pokemon Party Maker</h1>
    </div>
</div>

<div class="columns  is-centered">
    <div class="column is-half box submitBox">
        <h2 class="headings">Add Pokemon to your Party</h2>
        <form class="create-form">
            <div class="form-group">
                <input type="text" id="pokemonText" name="pokemon" placeholder="Search Your Pokemon">
                <ul class="list-group" id="result"></ul>
                <button type="submit" id="submit" class="button is-success submitBtn">Submit</button>
            </div>
        </form>
        <div class="control">
            <label class="radio">
                <input type="radio" name="shiny" id="shiny">
                Shiny?
             </label>
        </div>
 
        
    </div>
</div>


<div class="columns is-centered mainSection">
    <div class="column is-half box">
        <h2 class="headings"></i>My Party</h2>
        <ul class="list">
            {{#each pokemonParty}}
            <li class="pokemonLine"><img src="{{this.pokeImage}}"> {{this.pokeName}} 
            <button class="tag typeOne" type-id="{{this.type1}}">{{this.type1}}</button>
            {{#if type2}}
            <button class="tag typeTwo" type-id="{{this.type2}}">{{this.type2}}</button>
            {{/if}}
            <div class="delete is-large" data-id="{{this.id}}"></div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

